:root {
  --white-primary: #fbf9fa;
  --white-secondary: #e3e3e3;
  --primary-color: #fd0054;
  --secondary-color: #a80038;
  --hover-color: #e2edf0;
  --text-color: #2b2024;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

body {
  background-color: var(--white-secondary);
}

.sr-only {
  /* ONLY READ */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
