@import url("../css/reset.css");
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: var(--white-secondary);
}
#login #login-form {
  background-color: var(--white-primary);
  border-radius: 5px;
  width: 300px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#login #login-form h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  color: var(--secondary-color);
  cursor: pointer;
}
#login #login-form form#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login #login-form form#content div.input-field {
  display: flex;
}
#login #login-form form#content div.input-field label {
  display: none;
}
#login #login-form form#content div.input-field input {
  border: 1px solid var(--white-secondary);
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 250px;
  outline: none;
  color: var(--text-color);
  margin-bottom: 1rem;
}
#login #login-form form#content div.input-field input:hover, #login #login-form form#content div.input-field input:active, #login #login-form form#content div.input-field input:focus {
  border: 1px solid var(--primary-color);
}
#login #login-form form#content .input-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
#login #login-form form#content .input-checkbox .check {
  display: flex;
}
#login #login-form form#content .input-checkbox .check label {
  display: none;
}
#login #login-form form#content .input-checkbox .check input[type=checkbox] {
  margin: auto;
}
#login #login-form form#content .input-checkbox .check input[type=checkbox]:active, #login #login-form form#content .input-checkbox .check input[type=checkbox]:focus {
  outline: none;
}
#login #login-form form#content .input-checkbox .check p {
  font-size: 0.8rem;
  color: var(--text-color);
  margin-left: 5px;
}
#login #login-form form#content input.loginBtn {
  height: 30px;
  width: 250px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 1rem 0;
  background-color: var(--secondary-color);
  color: white;
  font-weight: 400;
}
#login #login-form form#content input.loginBtn:hover, #login #login-form form#content input.loginBtn:active, #login #login-form form#content input.loginBtn:focus {
  background-color: var(--primary-color);
  outline: none;
}

#container {
  display: none;
  height: 99vh;
  flex-direction: column;
}
#container header.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem 4rem;
  width: 100%;
  height: 12rem;
  background-color: var(--primary-color);
}
#container header.navbar h1 {
  color: var(--white-primary);
}
#container header.navbar img {
  width: 50px;
}
#container .content-box {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 1rem;
  margin: -5rem 2rem 2rem;
}
#container .content-box .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  border-radius: 10px;
  background-color: var(--white-primary);
  margin-right: 1rem;
  padding: 1rem 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#container .content-box .sidebar .sidebar-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#container .content-box .sidebar .sidebar-menu ul {
  width: 100%;
}
#container .content-box .sidebar .sidebar-menu ul li {
  display: block;
}
#container .content-box .sidebar .sidebar-menu ul li a {
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-color);
}
#container .content-box .sidebar .sidebar-menu ul li a:hover, #container .content-box .sidebar .sidebar-menu ul li a:active, #container .content-box .sidebar .sidebar-menu ul li a:focus {
  border-left: 3px solid var(--primary-color);
  background-color: var(--white-secondary);
}
#container .content-box .sidebar .sidebar-menu ul li a img {
  width: 18px;
  margin: 0 0.7rem;
}
#container .content-box .sidebar .user-wrapper {
  display: flex;
  justify-content: center;
}
#container .content-box .sidebar .user-wrapper .logout {
  display: flex;
  cursor: pointer;
}
#container .content-box .sidebar .user-wrapper img {
  width: 16px;
  margin: 0 0.2rem;
}
#container .content-box .sidebar .user-wrapper p {
  color: var(--text-color);
}
#container .content-box .sidebar .user-wrapper p:hover {
  color: var(--primary-color);
}
#container .content-box .content {
  padding: 0 20px;
  width: 100%;
  max-height: 100%;
  background-color: var(--white-primary);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#container .content-box .content header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 1rem 0.5rem;
  font-size: 1rem;
}
#container .content-box .content header .header-client input {
  height: 30px;
  padding-left: 10px;
  border-radius: 0.2rem;
  border: 1px solid var(--white-secondary);
  outline: none;
}
#container .content-box .content header .header-client input:hover, #container .content-box .content header .header-client input:active, #container .content-box .content header .header-client input:focus {
  border-color: var(--primary-color);
}
#container .content-box .content header .header-client a {
  padding: 0.4rem;
  color: var(--secondary-color);
  font-weight: bold;
}
#container .content-box .content header .header-client a:hover {
  color: var(--primary-color);
}
#container .content-box .content main {
  height: 85%;
}
#container .content-box .content main section.clients {
  display: block;
  width: 100%;
  height: calc(100% - 10px);
  overflow: auto;
}
#container .content-box .content main section.clients .data-table {
  width: 99%;
  border-spacing: 0 0.5rem;
  color: var(--text-color);
}
#container .content-box .content main section.clients .data-table thead th {
  background-color: var(--white-secondary);
  font-weight: normal;
  padding: 1rem 1rem;
  text-align: left;
  font-weight: bold;
}
#container .content-box .content main section.clients .data-table thead th:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}
#container .content-box .content main section.clients .data-table thead th:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}
#container .content-box .content main section.clients .data-table tbody tr {
  opacity: 1;
}
#container .content-box .content main section.clients .data-table tbody tr:hover {
  opacity: 1;
  background-color: var(--white-secondary);
}
#container .content-box .content main section.clients .data-table tbody td {
  padding: 0.4rem 1rem;
  font-weight: normal;
  cursor: default;
  font-size: 0.9rem;
}
#container .content-box .content main section.clients .data-table tbody td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}
#container .content-box .content main section.clients .data-table tbody td.removeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .content-box .content main section.clients .data-table tbody td.removeBtn img {
  margin: 5px;
  width: 20px;
  cursor: pointer;
}
#container .modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
#container .modal-overlay.active {
  opacity: 1;
  visibility: visible;
}
#container .modal-overlay .modal {
  background-color: var(--white-primary);
  border-radius: 0.5rem;
  padding: 2.4rem;
  width: 90%;
  max-width: 500px;
  position: relative;
  z-index: 1;
}
#container .modal-overlay .modal .form {
  max-width: 500px;
}
#container .modal-overlay .modal .form h2 {
  color: var(--primary-color);
  margin-top: 0;
}
#container .modal-overlay .modal .form input {
  border: 1px solid var(--white-secondary);
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
  outline: none;
  color: var(--text-color);
}
#container .modal-overlay .modal .form input:hover, #container .modal-overlay .modal .form input:active, #container .modal-overlay .modal .form input:focus {
  border: 1px solid var(--primary-color);
}
#container .modal-overlay .modal .form .input-group {
  margin-top: 0.8rem;
}
#container .modal-overlay .modal .form .input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
#container .modal-overlay .modal .form .input-group.actions.actions .button, #container .modal-overlay .modal .form .input-group.actions.actions button {
  width: 48%;
}
#container .modal-overlay .modal .form .input-group.actions .button.cancel {
  color: red;
  border: 2px solid red;
  border-radius: 0.25rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
#container .modal-overlay .modal .form .input-group.actions button {
  width: 100%;
  height: 50px;
  border: none;
  color: #fff;
  background-color: green;
  padding: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}
#container .modal-overlay .modal .form .input-group .help {
  opacity: 0.5;
}

/*# sourceMappingURL=dashboard.css.map */
